.movies {
    background-color: #FFFFFF;
    padding-bottom: 80px;
  }
  
  .app__movies {
    background-color: #FFFFFF;
  }
  
  @media (max-width: 768px) {
    .movies {
      padding-top: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .movies {
      padding-top: 0px;
    }
  }
  
 
  .movies-list {
    width: 100%;
    margin: 0 0 60px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    align-content: center;
    gap: 30px;
  }
  
  @media (max-width: 1024px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 340px);
      column-gap: 24px;
      margin-bottom: 80px;
    }
  }
  
  @media (max-width: 500px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 16px;
    }
  }
  
  .movies__footer {
    margin-bottom: 80px;
    border-radius: 5px;
    margin: 0 70px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 340px);
      column-gap: 24px;
      margin-bottom: 80px;
    }
  }
  
  @media (max-width: 500px) {
    .movies__footer {
      margin: auto;
      max-width: calc(100% - 20px);
    }
  }