.button {
    cursor: pointer;
    padding: 8px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 0.75;
  }
  
  .button_type_none {
    color: #fff;
    background-color: transparent;
  }
  
  .button_type_green {
    background-color: #2BE080;
    border-radius: 3px;
  }

  .button_type_profile {
    font-size: 13px;
    font-weight: 400;
  }
  
  @media (max-width: 500px) {
    .button_type_profile {
      font-size: 12px;
    }
  }
  
  .button_type_red-text {
    color: #FF3055;
  }

  .button_type_white-text {
    color: white;
  }