.register {
    width: 100%;
  }
  
  .register__text {
    color: #A0A0A0;
    margin: 0;
    text-align: center;
    font-size: 14px;
  }
  
  @media (max-width: 500px) {
    .register__text {
      font-size: 12px;
    }
  }
  
  .register__link {
    color: #3456F3;
    text-decoration: none;
  }
  
  .register__inputs {
    padding: 0;
    margin-bottom: 152px;
    border: 0;
  }

  .register__button {
    color: #FFFFFF;
    background-color: #3456F3;
    width: 396px;
    height: 45px;
    border: 1px solid #3456F3;
    border-radius: 3px;
    margin-bottom: 16px;
  }
  
  @media (max-width: 500px) {
    .register__inputs {
      margin-bottom: 228px;
    }
  }

  @media (max-width: 500px) {
    .register__button {
      max-width: 100%;
      margin-bottom: 14px;
      text-align: center;
      
    }
  }
